body {
  background: #aaaaaa;
  font-family: "Calibri", "Arial", "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
}

video {
    max-width: 100%;
}

.image {
    max-width: 100%;
}

.container {
    overflow: hidden;
}

.container-nav {
    float: left;
}

.container-media {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    max-width: 45%
}

.container-image {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    max-width: 49%
}

.container-image-100 {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    max-width: 100%
}

.container-image-25 {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    max-width: 24%
}

.container-filename {
    font-weight: bold;
    margin-bottom: 2px;
}

.container-log {
    margin: 5px 50px;
}
