body {
  background: #aaaaaa;
  font-family: "Calibri", "Arial", "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
}

video {
    max-width: 100%;
}

.image {
    max-width: 100%;
}

.container {
    overflow: hidden;
}

.container-nav {
    display: inline-block;
}

.container-media {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    max-width: 45%;
}

.container-image {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align:top
}

.container-image-100 {
    max-width: 100%;
}

.container-image-50 {
    max-width: 49%;
}

.container-image-25 {
    max-width: 24%;
}

.container-filename {
    font-weight: bold;
    margin-bottom: 2px;
    word-break: break-word;
}

.container-log {
    margin: 5px 50px;
}
